body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #deaf11;
    margin: 0;
    padding: 15px;
}

h2 {
    color: #8e273b;
    margin-top: 10px;
    border-bottom: 2px solid #654b1f;
    padding-bottom: 5px;
}

h3 {
    color: #654b1f;
}

ul, ol {
    margin-left: 20px;
}

li {
    margin-bottom: 5px;
}

b {
    font-weight: bold;
}

i {
    font-style: italic;
}

.green {
    color: #27AE60;
    font-weight: bold;
}

.orange {
    color: #E67E22;
    font-weight: bold;
}

.purple {
    color: #8E44AD;
    font-weight: bold;
}

.red {
    color: #C0392B;
    font-weight: bold;
}

.footer {
    text-align: center;
    margin-top: 25px;
    font-size: 16px;
    color: #8e273b;
    font-weight: bold;
}
